:root{
	--black: #000000;
	--orange: #ff7800;
	--darkest-grey: #646464;
	--light-grey: #f2f2f2;
	--white: #ffffff;
	--blue: #0059b5;
	--light-grey: #dcdcdc;
	--yellow: #ffb500;
	--green: #00bcd4;
	--theme-dark: #222;
	--dark-cyan: #10C1E1;
	--light-orange: #FFA955;
}